@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@layer utilities {
    /*.fi-logo {
        @apply !h-15;
    }*/

    .fi-color-primary.fi-btn {
        @apply bg-primary-600 hover:bg-primary-500 text-primary-50;
    }

    .fi-fo-rich-editor-main {
        @apply min-h-75;
    }

    .fi-ta-casinos .fi-ta-actions {
        @apply justify-center
    }

    .fi-ta-casinos-name {
        @apply justify-center text-center leading-snug
    }

    .fi-ta-casinos-status {
        @apply justify-center text-center leading-snug mt-2
    }

    .custom-dashboard .fi-grid {
        @apply gap-2 sm:gap-4 md:gap-4 lg:gap-6 items-stretch;
    }

    .custom-dashboard .fi-wi-stats-overview-stat {
        @apply h-full;
    }
}
